* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}

@import "./components/common/header.scss";
@import "./components/home/hero.scss";
@import "./components/home/about.scss";

.ant-layout {
  background: #fff !important;
}

.mainLayout .ant-layout-header {
  background: #f8f8f888;
  // background: #f8f8f8;
  padding: 0;
  height: auto;
  line-height: 1.6;
}

p {
  font-size: 1.6rem;
  line-height: 1.6;
}

.ant-layout-header {
  // because of this fixed position , we cant see the content for now

  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;
}
