.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;

  .ant-menu {
    background-color: inherit;
    border: inherit;
    li {
      text-transform: capitalize;
      font-size: 1.6rem;
    }
  }
  .logo {
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: 400;
    i {
      color: blue;
      font-size: 3rem;
    }
  }
}
