.faqBlock .ant-collapse {
  margin: 0 0 4rem;
}

.faqBlock .quickSupport {
  text-align: center;
  max-width: 74rem;
  margin: auto;
  button {
    border-radius: 2rem;
    width: 20rem;
  }
}

.faqBlock .fas {
  margin: 0 1rem 0 0;
}
